@import 'https://unpkg.com/leaflet@1.0.1/dist/leaflet.css';

.map-container {
    margin: 30px;
    overflow: hidden;
}

.map-frame {
    border: 2px solid black;
    width: 50%;
    height: 100%;
    margin: auto;
}

#map {
    width: 100%;
    /*Pixel height required for the leaflet map.*/ 
    height: 500px;
}
